html::-webkit-scrollbar {
  background-color: #212025;
  width: 11px;
}

html::-webkit-scrollbar-button {
  height: 0px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #676cdb;
}